	<!-- Navigation -->
	<div class="top-bar">
		<div class="top-bar-left">
			<h1 class="clear-pm">
				<a class="wll-link" href="index.html">
				We<span class="pink">Love</span>Lists<span class="dot-com">.com</span>
				</a>
			</h1>
			<ul class="menu menu-text clear-pm">
				<li class="about-adj">
					<span class="nav-divide">|</span>
					<a href="#/about.html"> About </a>
				</li>
				<li>
					<span class="nav-divide">|</span>
					<a href="#/dashboard.html"> Dashboard </a>
				</li>
			</ul>
		</div>
		
		<div class="top-bar-right">
			<ul class="menu">
			  <li class="nav-welcome">Welcome, {{user.employee.firstname}} <span class="nav-divide">|</span> <a ng-click="logout()">Logout</a></li>
			  <li><img src="resources/small-logo.png"/></li>
			</ul>
		</div>
	</div>
	
	<!-- Content -->
	<div class="title"><h2>About Us</h2></div>
    <div class="row">
		<div class="small-8 small-offset-2 columns">
			<div class="callout curved-borders">
				<h3><i class="material-icons adjust-google-icons">people</i> <span class="black">Group Members</span></h3>
				<table>
					<tr><td>Bradley Biederman</td></tr>
					<tr><td>Hazel Lobos</td></tr>
					<tr><td>Joshua Timmermans</td></tr>
				</table>
				
				<h3><i class="material-icons adjust-google-icons">code</i> <span class="black">Git Hub</span></h3>
				<table>
					<tr><td><a href="https://github.com/inerg/4513Assignment2">https://github.com/inerg/4513Assignment2</a></td></tr>
				</table>
				
				<h3><i class="material-icons adjust-google-icons">group_add</i> <span class="black">Third Party Resources</span></h3>
				<table>
					<tr><td>
						<a href="http://foundation.zurb.com/sites/docs/">Foundation</a>
					</td></tr>
					<tr><td>
						<a href="https://design.google.com/icons/">Google Icons</a>
					</td></tr>
					<tr><td>
						<a href="http://www.designmantic.com/">Design Mantic (Logo)</a>
					</td></tr>
					<tr><td>
						<a href="http://jquerymodal.com/">JQuery Modal</a>
					</td></tr>
				</table>
			</div>
		</div><!-- /About Us -->
    </div>

